= form_for @rehearsal do |f|

  = f.label :tally, "Tally"
  = f.number_field :tally

  %p
    %b Questions:
    - @rehearsal.exercise.e_questions.each do |e_question|
      %tr
        %td= e_question.question
      %p
        = f.fields_for :e_answers, e_question.e_answers do |builder|
          = builder.label :answer, "Answer"
          = builder.text_field :answer


  .actions
    = f.submit 'Save'
