= bootstrap_form_for @rehearsal do |f|
  = f.hidden_field :user_id
  .form-group.col-md-12
    %p= @exercise.general_description
    - @rehearsal.answers.each_with_index do |answer, index|
      .form
        .form-group
          #questions
            = f.fields_for :answers, answer do |builder|
              = builder.text_area :reply, label: "#{answer.question.inquiry}", class: "form-control", id: "form-border", rows: 2
              = hidden_field_tag "rehearsal[answers_attributes]#{index}[question_id]", answer.question.id

            = hidden_field_tag 'rehearsal[exercise_id]', @rehearsal.exercise.id
            = hidden_field_tag 'rehearsal[city]', @rehearsal_location
    - if @rehearsal.answers.count == 0
      = render 'progress_bar'

    .actions
      = f.submit "Finish My Practice of #{@exercise.title}", class: "btn btn-md btn-success mt-3"

