= form_for @rehearsal do |f|
  = f.hidden_field :user_id

  .form-group.col-md-8
    .panel
      .panel-body.stoic-grey
        %h4 Exercise Instructions
        %p.page_header
          = @exercise.general_description
    - @rehearsal.answers.each_with_index do |answer, index|
      %tr
        %big 
          %td= answer.question.question
      %p
      .form
        .form-group
          #questions
            = f.fields_for :answers, answer do |builder|
              = builder.text_area :reply, class: "form-control", id: "form-border", rows: 3
              = hidden_field_tag "rehearsal[answers_attributes]#{index}[question_id]", answer.question.id

            = hidden_field_tag 'rehearsal[exercise_id]', @rehearsal.exercise.id
            = hidden_field_tag 'rehearsal[city]', @rehearsal_location

    .actions
      = f.submit "Finish Rehearsing #{@exercise.title}", class: "btn btn-stoic-green btn-lg"
