= form_for @rehearsal do |f|
  .field
    = f.label :tally
    = f.number_field :tally
  .field
    = f.fields_for :e_answers do |e_builder|
      = render "e_answer_fields", :f => e_builder

  %p
    %b Questions:
    - @exercise.e_questions.each do |e_question|
      %tr
        %td= e_question.question
    %p


  .actions
    = f.submit 'Save'
