%h1 Listing rehearsals&nbsp;#{link_to 'Rehearse a new exercise', exercises_path}

%table
  %tr
    %th Exercise
    %th Description
    %th Category

  - @rehearsals.each do |rehearsal|
    %tr
      %td= rehearsal.exercise.title
      %td= rehearsal.exercise.general_description
      %td= rehearsal.created_at.strftime("%B %d, %Y, at %H:%M")
      %td= link_to 'Show', rehearsal
      %td= link_to 'Edit', edit_rehearsal_path(rehearsal)
      %td= link_to 'Destroy', rehearsal, :method => :delete, :data => { :confirm => 'Are you sure?' }
    - rehearsal.exercise.questions.each do |question|
      %tr
        %td Question:&nbsp;
        %td= question.question
      - question.e_answers.each do |e_answer|
        %tr
          %td Answer:&nbsp;
          %td= e_answer.answer

%br


