.container
  .row
    .col-md-11
      .panel.stoic-blue
        .panel-heading
          %h3.page-header
            Rehearse
            = @exercise.title
        .panel-body
          = render 'form'
          - unless @published_quotations.nil? || @published_quotations.empty?
            .col-sm-4
              .panel.black-plain-stoic-border
                .panel-body
                  %h4#quotation-blue Ancient Philosopher Who Practiced This Exercise
                  .stoic-dark-text
                    - @published_quotations.each do |quotation|
                      "
                      = quotation.passage
                      "
                      %br
                      - unless @exercise.tags.empty?
                        %br
                        %b Source:
                        = link_to @exercise.tags.first.name, tag_path(@exercise.tags.first.name), class: "btn btn-stoic-white"
        .panel-body
          = link_to "Back to the exercise page", @exercise, class: "btn btn-stoic-white"
          %br
          %br
