.container
  .row
    .col-md-8
      .card.mb-3.bg-dark
        .card-body
          .card-title.ml-3
            %h4
              Practice
              = @exercise.title
          = render 'form'
          = link_to "Back to the exercise page", @exercise, class: "btn btn-sm btn-info ml-3"
    .col-3
      - unless @published_quotations.nil? || @published_quotations.empty?
        .card.bg-warning
          .card-body
            %b Ancient Philosopher Who Practiced This Exercise
            - @published_quotations.each do |quotation|
              - unless @exercise.tags.empty?
                %br
                .col
                  .row
                    %br
                    .card-text
                      = link_to @exercise.tags.first.name, tag_path(@exercise.tags.first.name), class: "small text-muted"
              .card-text
                = quotation.passage + "\""
