%p#notice= notice

%p
  %b Tally:
  = @rehearsal.tally

%h3
  %b Answers
%table
  - @rehearsal.exercise.e_questions.each do |e_question|
    %tr
      %td Question:&nbsp;
      %td= e_question.question
    - e_question.e_answers.each do |e_answer|
      %tr
        %td Answer:&nbsp;
        %td= e_answer.answer
        %td= e_answer.created_at


= link_to 'Edit', edit_rehearsal_path(@rehearsal)
\|
= link_to 'Back', rehearsals_path

