.container
  .row
    .col-md-8.col-sm-offset-1
      .card.bg-dark
        .card-header
          %h3
            My Practice of
            = "#{@exercise.title}"
            %h5
              Originally practiced in
              %b 
                -if @rehearsal.city?
                  = @rehearsal.city
                -else
                  Unknown City
              on
              %b
                = "#{@rehearsal.created_at.strftime("%B %d, %Y at %H:%M")}"
        .card-body
          .card-title
            %h5 Exercise Overview
            %p= @exercise.general_description
          .card-text
            - @rehearsal.answers.each_with_index do |answer, index|
              %table.table.table-light
                %tr
                  %h5
                    %th
                      %b= answer.question.inquiry
              %p
              %tr
                %p
                  %td= answer.reply
          = link_to "Back To #{@exercise.title}", @rehearsal.exercise, class: "btn btn-sm btn-secondary mb-3"
          = link_to 'Edit This Rehearsal', edit_rehearsal_path(@rehearsal), class: "btn btn-sm btn-secondary mb-3"
