.container
  .row
    .card
      .card-header
        %h2 Edit Your Stoic Penknife Account
      .card-body
        .card-text
          = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.email_field :email, label: "Email linked to my account", autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              Currently waiting confirmation for: #{resource.unconfirmed_email}
            = f.label :new_password
            %i (leave blank if you don't want to change it)
            = f.password_field :password, label: "New password", autocomplete: "off"
            = f.password_field :password_confirmation, autocomplete: "off"
            %i (we need your current password to confirm your changes)
            = f.password_field :current_password, label: "Old password", autocomplete: "off"
            = f.submit "Update My Password", class: "btn btn-md btn-dark"
  .row.mt-3
    .card
      .card-header
        %h5 Cancel My Stoic Penknife Account
      .card-body
        .card-text
          %p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-md btn-dark"}
