.container
  .row
    %h2.page-header.exercise_title Forgot your password?
    .panel.panel-warning
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        %div
          = f.label :my_email_linked_to_stoic_penknife
          %br/
          = f.email_field :email, autofocus: true
        %br/
        %div= f.submit "Send me reset password instructions", class: "btn btn-warning"
      %br/
      = render "devise/shared/links"
