%br
%ul.nav.nav-pills
  %li.active
    %a{:href => "index"} Stoic Compass
  %li
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact
%center
  .page-header
    %h3
      Marcus Aurelius' Compass
    %big An Application to Guide Stoic Philosophical Practice

%center
  .container
    .row
      .col-sm-4
        .thumbnail
          = image_tag "doctrine.png"
          .caption
            %h5 Stoic Philosophy Explained
            %p How did people in the ancient world understand philosophy? Read our description of the ideas behind Stoicism as a practice.
          = button_to "The Stoic Doctrines", doctrines_index_path, method: :get, class: "btn btn-danger btn-large"
      .col-sm-4.col
        .thumbnail
          = image_tag "exercise.png"
          .caption
            %h5 Practice Stoic Exercises
            %p How can you make Stoic philosophy into a lived practice? Run written and audio exercises we developed - and create your own.
          = button_to "My Stoic Exercises", meditations_path, method: :get, class: "btn btn-warning btn-large"
      .col-sm-4.col
        .thumbnail
          = image_tag "meditation.png"
          .caption
            %h5 Read an Emperor's Meditations
            %p Read meditations from Marcus Aurelius that we selected as inspirational and instructive for practicing Stoic philosophy today.
          = button_to "Marcus Aurelius' Meditations", meditations_path, method: :get, class: "btn btn-primary btn-large"


%br
%br
%br