%center
  .page-header
    %h2
      Stoic Penknife
    %big An Application to Practice Ancient Philosophical Technologies of the Soul

%center
  .container
    .row
      .col-sm-4
        .panel.panel-default
          .panel-body
            = image_tag "doctrine.png", class: "img-responsive img-rounded" 
            .caption
              %h5 Stoic Philosophy Explained
              %p How did the ancient world understand Stoicism? Learn about the philosophy behind Stoicism and its exercises.
            = button_to "The Stoic Doctrines", doctrines_index_path, method: :get, class: "btn btn-danger btn-large"
      .col-sm-4.col
        .panel.panel-default
          .panel-body
            = image_tag "exercise.png", class: "img-rounded img-responsive"
            .caption
              %h5 Practice Stoic Exercises
              %p How can you practice Stoic philosophy? Do written exercises from Seneca, Epictetus and Marcus Aurelius - and create your own.
            = button_to "My Stoic Exercises", exercises_path, method: :get, class: "btn btn-warning btn-large"
      .col-sm-4.col
        .panel.panel-default
          .panel-body
            = image_tag "quotation.png", class: "img-rounded img-responsive"
            .caption
              %h5 Read Stoic Passages
              %p Read passages from Seneca, Epictetus, and Marcus Aurelius that are templates for Stoic exercises.
            = button_to "Stoic Quotations", quotations_path, method: :get, class: "btn btn-primary btn-large"
