.bg
  .container
    .row
      .col-sm
        = image_tag "stoic_penknife_logo_sea.png", class: "img-fluid"
      .col-sm
        %p#cbt
          This app is
          %a{:href => "https://philarchive.org/archive/DIATPF"} Ancient Greek Cognitive Behavioral Therapy (CBT)
      .col-sm
        = image_tag "white_title.png"
        %big An App to Practice Ancient Philosophical Technologies of the Soul
        = image_tag "exercise.png"
        %h4 Practice An Ancient Stoic Exercise
        %p Practice written exercises from Seneca, Epictetus and Marcus Aurelius - and create your own.
        = button_to "Practice Stoic Exercises", exercises_path, method: :get
        %h4 How do written Stoic exercises work?
        %p How did the ancient world understand Stoic Philosophers and the exercises they practiced to work changes in their own minds?
        = link_to "How does Stoic Penknife work?", about_path, method: :get
        = link_to "How does Stoic Philosophy work?", doctrines_index_path, method: :get
