
%center

.container
  .row
    .col-md-8
      %h2.page-header
        .doctrine_title
          The Stoic Doctrine
          %br
        %small An explanation of the doctrines and dogmas behind ancient Stoic philosophy in the Greek and Roman period.
        %a.tab_over_header{"data-parent" => "#accordion0", "data-toggle" => "collapse", href: "#collapseZero", "class" => "label label-default", "id" => "light"}
          Abstract
          %span.glyphicon.glyphicon-chevron-down
        #collapseZero.panel-collapse.collapse
          %h5 Question every opinion. Let only your reason be the judge of your truths.
          %h5 There is no such a thing as "official stoic opinions" that every good stoic should share. Stoic students are encouraged to challenge the views and arguments of their teachers as well as to be confronted with opinions from other schools of philosophy. Nevertheless, there are some subjects  upon which previous generations of stoics have worked hard and with great results. These are offered to the new generations of stoic philosopher as a precious starting point for their own work.

          %h5 This part is divided into three main sections: Principles, Disciplines and Subjects.

          %h5 The Dogmas (general principles) address core philosophical matters, which need to be discussed and settled before further speculation or exercise. Here we present the positions that most ancient Stoics shared, but we also address possible criticisms and other possible opinions on these matters.

          %h5 The Disciplines subdivide the human experience into three main fields. This threefold partition is the main point of reference in the Quadrant of Marcus Aurelius' Compass. The Disciplines are the secret which gives dynamism and rhythm to Marcus Aurelius' Meditations. In this part we'll not only learn their internal structure and reciprocal connections but also start using them to interpret Marcus Aurelius and to produce our own meditations.

          %h5 Under "Subjects of  Meditation" we understand some primary, general matters, which are necessarily found in most human life-experiences. From death to political engagement, every subject will be analysed in the light of stoic Principles and Disciplines and we'll be shown how to make these the object of active Meditation.

.container
  .row
    .col-md-8
      #accordion.accordion
        #accordion.panel-group
          .panel.panel-danger
            .panel-heading
              %h4.panel-title
                %a.doctrine_button{href: "doctrines_introduction", "class" => "label"}
                  Introduction to Stoic Philosophy
          = render '/doctrines/panels/introduction_panel'
          = render '/doctrines/panels/dogmas_panel'
          = render '/doctrines/panels/disciplines_panel'
          = render '/doctrines/panels/meditations_panel'
          = render '/doctrines/panels/compass_panel'





