%h1 Doctrines of the Stoic School of Philosophy
%h4
  The words "doctrine" and "dogma" means something different in the Stoic context. They mean core principles. But, Stoicism being a school of philosophy, these are always open to debate and exploration. Nevertheless, they represent the core discoveries and arguments of the school about the nature of the human mind.

%table
  %tr
    %th Title
    %th Explanation
    %th Category
    %th
    %th
    %th

  - @doctrines.each do |doctrine|
    %tr
      %td= doctrine.title
      %td= doctrine.explanation
      %td= doctrine.category
      %td= link_to 'Show', doctrine
      %td= link_to 'Edit', edit_doctrine_path(doctrine)
      %td= link_to 'Destroy', doctrine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Doctrine', new_doctrine_path
