.container
  .row
    .col-md-8
      %p#notice= notice
      %p#quotation-label= @quotation.title
      .panel.panel-primary
        .panel-body
          %h4#quotation-text= @quotation.passage
        %br
        %p
          %b
            Philosophical Category Tags:
          = raw @quotation.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join('  ')
        %br
        = link_to 'Back to List of Quotations', quotations_path, class: "btn btn-primary"
        %br
        %br
        - if can? :update, @quotations
          = link_to 'Edit Quotation', edit_quotation_path(@quotation)
