.container
  .row
    .col-md-8
      %p#notice= notice
      .card
        .card-header
          %h4= @quotation.title
        .card-body
          .card-text
            %h5= @quotation.passage + "\""
        .card-footer
          %h5
            Philosophical Category Tags:
          = raw @quotation.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "small text-muted" }.join('  ')
        - if can? :update, @quotations
          = link_to 'Edit Quotation', edit_quotation_path(@quotation)
