.container
  .row
    .col-md-8
      %h3.page-header.meditation_title
        An original meditation from Marcus Aurelius
      .panel.panel-primary
        %p#notice= notice

        %h4.panel-heading
          = @meditation.title
        %h2.panel-body
          .page-header.second_row_title
            .small
              = @meditation.passage
        %p
          %b
            Philosophical Category Tags:
          = raw @meditation.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join('  ')
        = link_to 'Back to List of Meditations', meditations_path, class: "btn btn-default"
        %br
        %br
        - if can? :update, @meditations
          = link_to 'Edit Meditation', edit_meditation_path(@meditation)


