.container
  .row
    .col-10
      .card.bg-info
        .card-header
          %h3
            Features tagged in the Philosophical Category of
            %u= "#{params[:tag]}"
        .card-body.bg-info
          .card-title
            %h3
              %i
                %u= "#{params[:tag]}"
              Exercises
          %table.table.table-dark.table-responsive
            %tr
              %th Exercise
              %th
              %th General description
              %th
            - @global_exercises.each do |global_exercise|
              %tr{class: "exercise_#{global_exercise.id}"}
                %td= link_to global_exercise.title, global_exercise, class: "btn btn-md btn-outline-light"
                %td= link_to 'Practice It', new_rehearsal_path(:exercise => global_exercise.id), class: "btn btn-md btn-outline-light"
                %td= truncate(global_exercise.general_description, length: 200)
                %td
                  .badge.badge-light
                    Stoic Penknife Exercise
            - if user_signed_in?
              - @exercises.each do |exercise|
                %tr{class: "exercise_#{exercise.id}"}
                  %td= link_to exercise.title, exercise, class: "btn btn-md btn-outline-light"
                  %td= link_to 'Practice It', new_rehearsal_path(:exercise => exercise.id), class: "btn btn-md btn-outline-light"
                  %td= exercise.general_description
                  %td
                    .badge.badge-light
                      My Custom Exercise
      .card.mt-3.bg-info
        .card-body
          .card-title
            %h3
              %i
                %u= "#{params[:tag]}"
              Quotations from Stoic Philosophers
            %h5 Quotations from Stoic Philosophers like Marcus Aurelius, Seneca, Epictetus
          %table.table.table-light.table-responsive
            - @quotations.each do |quotation|
              %tr
                %td= link_to quotation.title, quotation, class: "btn btn-md btn-dark"
                %td= quotation.passage + "\""

      .card.mt-3.bg-info
        .card-body
          .card-title
            %h3
              %i
                %u= "#{params[:tag]}"
              Stoic Doctrines
          .card-text
            - @doctrines.each do |doctrine|
              = render file: "doctrines/#{doctrine.file_name}.html.haml"
