
= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation.stoic-dark-text
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id
  .form-group.col-md-8
    .input-group
      .input-group-addon
        = f.label :title
      = f.text_field :title, class: "form-control", id: "form-border"
    %br
    .input-group
      .input-group-addon
        = f.label :general_description
      = f.text_area :general_description, class: "form-control", id: "form-border", rows: "4"
    %br
    .input-group
      .input-group-addon
        = f.label :tag_list, "Category Tags"
        %br
        = f.label :tag_list, "(Separated by commas,"
        %br
        = f.label :tag_list, "e.g. Assent, Sex, Freedom)"
      = f.text_area :tag_list, class: "form-control", id: "form-border", rows: "4"

    %h3.page-header.exercise_title Exercise Questions
    .input-group
      #e_questions
        = f.fields_for :e_questions do |e_builder|
          = render "e_question_fields", :f => e_builder, id: "form-border"
      .clearfix
      .links
        .clearfix
        %br
        = link_to_add_association 'Add New Question', f, :e_questions, class: "btn btn-stoic-white"
        %h5 There is a limit of 7 questions per exercise.
    %br
    - if current_user.admin
      .input-group
        .input-group-addon
          = f.label "Publish this exercise globally to all users of Stoic Penknife"
        .input-group-addon
          = f.check_box :global, class: "checkbox"
      %br
    .actions
      %center
        = f.submit 'Save Exercise', class: "btn btn-stoic-action btn-lg"
