= bootstrap_form_for(@exercise, label_errors: true) do |f|
  = f.hidden_field :user_id
  = f.text_field :title
  = f.text_area :general_description, rows: '4'
  = f.text_area :tag_list, label: 'Category Tags (Seperated by commas, e.g. Assent, Sex, Freedom)', class: 'form-control', rows: '4'
  = f.file_field :icon, label: 'Add an image icon', class: 'form-control'
  %h3 Think-Exercise Questions
  = f.fields_for :questions do |question|
    = render 'question_fields', f: question, id: 'question'
  .links
    = link_to_add_association 'Add New Question', f, :questions, class: 'btn btn-md btn-danger form-control mb-3'
  %h5 At least one question is required in order to create a new exercise.
  %h5 There is a limit of 7 questions per exercise.

  - if current_user.admin
    = f.check_box :global, class: 'checkbox', label: "Publish this exercise globally to all users of Stoic Penknife"
    %br
    = f.text_field :buzzword, label: 'Add an exciting buzzword-catchphrase for the exercise here', class: 'form-control'
  .actions
  %center
    = f.submit 'Save Exercise', class: 'btn btn-lg btn-danger'

:javascript
  $(document).ready(function() {
    // Make clear also on refresh that field is required. If field is empty, add is-invalid class. If field is now full (but ANOTHER field is empty) then make sure the filled-in field displays green/valid.
    if ($('textarea#exercise_general_description').val().length ==! 0){
      $('textarea#exercise_general_description').removeClass('is-invalid');
      $('textarea#exercise_general_description').addClass('is-valid');
    };
  });

  $(document).ready(function() {
    if ($('input#exercise_title').val().length ==! 0){
      $('input#exercise_title').removeClass('is-invalid');
      $('input#exercise_title').addClass('is-valid');
    };
  });
  
  // Change to green border is-valid bootstrap class once you type into the field
  $('#exercise_title').one('change',function () {
    $('#exercise_title').removeClass('is-invalid');
    $('#exercise_title').addClass('is-valid');
  });

  $('#exercise_general_description').one('change',function () {
    $('#exercise_general_description').removeClass('is-invalid');
    $('#exercise_general_description').addClass('is-valid');
  });

  // Hide Add Question Button (and check to re-add it) if more than 7 questions is reached
  $(document).ready(function() {
    $(function() {
      function check_to_hide_add_link() {
        if ($('.nested-fields:visible').length >= 6) {
          $('a.add_fields').hide();
        }
        else {
          $('a.add_fields').show();
        }
      }

      function check_to_re_add_add_link() {
        if ($('.nested-fields:visible').length = 6) {
          $('a.add_fields').show();
        }
      }

      $('.card-body').on('click', '.btn-md', function() {
        check_to_hide_add_link();
      });

      $('.card-body').on('click', '.btn-sm', function() {
        check_to_re_add_add_link();
      });
    });
  });
