
= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id
  .form-group.col-md-8
    .input-group
      .input-group-addon
        = f.label :title
      = f.text_field :title, class: "form-control"
    %br
    .input-group
      .input-group-addon
        = f.label :general_description
      = f.text_area :general_description, class: "form-control", rows: "4"
    %br
    .form-inline.form-group
      .input-group
        .input-group-addon
          = f.label :category
        = f.text_field :category, class: "form-control"

    %h3.page-header.exercise_title Exercise Questions
    .input-group
      #e_questions
        = f.fields_for :e_questions do |e_builder|
          = render "e_question_fields", :f => e_builder
        .links
        %br
        = link_to_add_association 'Add New Question', f, :e_questions, class: "btn btn-default"
    %br
    - if current_user.admin
      .input-group
        .input-group-addon
          = f.label "Publish this exercise globally to all Stoic Compass users"
        .input-group-addon
          = f.check_box :global, class: "checkbox"
      %br
  %center
    .actions
      = f.submit 'Save Exercise', class: "btn btn-warning btn-lg"
