.container
  .row
    .col-md-8
      .panel.panel-default.stoic-white.stoic-dark-text
        %h3.panel-heading.stoic-light-blue
          = @exercise.title
        .panel-body
          = @exercise.general_description
          %br
          %br
          %p
            %b
              Philosophical Categories:
            = raw @exercise.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-stoic-white" }.join('  ')
    .col-md-4
      %br
    .col-md-4
      = link_to 'Rehearse this Exercise', new_rehearsal_path(:exercise => @exercise.id), class: "btn btn-stoic-action btn-lg"
    .col-md-4
      %br
    .col-md-4
      = link_to 'Back to Exercise List', exercises_path, class: "btn btn-stoic-white"
    .col-md-4
      %br
    .col-md-4
      - if can? :update, @exercise
        = link_to 'Edit Exercise', edit_exercise_path(@exercise), class: "btn btn-stoic-white"
        = link_to 'Delete Exercise', @exercise, :method => :delete, :data => { :confirm => "Are you certain that you'd like to delete this philosophical exercise?" }, class: "btn btn-stoic-white"
      - if @exercise.global
        %br
        %br
        .label.label-primary Global Exercise
      - else
        %br
        %br
        .label.stoic-brown Custom Exercise

  .row
    %h3.page-header
      Past Rehearsals
    .table-responsive
      %table.table.table-striped.table-condensed.stoic-dark-text.stoic-striped
        %tbody
        %th
        %th Day
        %th Place
        - @exercise.e_questions.each do |e_question|
          %th= truncate(e_question.question, length: 100)
        - @rehearsals.each do |rehearsal|
          %tr
            %td= link_to 'Read', rehearsal_path(rehearsal), class: "btn btn-stoic-white btn-lg"
            %td= rehearsal.created_at.strftime("%d.%m.%Y")
            -if rehearsal.city?
              %td= rehearsal.city
            -else
              %td Unknown City

            - rehearsal.e_answers.each do |e_answer|
              %td= truncate(e_answer.answer, length: 100)

  - if @exercise.global
    %br
    .panel.panel-info
      .panel-heading
        %b Stoic Penknife Global Exercise
        This exercise is published globally across all of Stoic Penknife and its users.
  - else
    %br
    .panel.stoic-brown
      .panel-heading
        %b Custom Exercise
        This is a custom exercise created by, and only visible to, you.
.container
  .row
    .col-md-4
      .panel.panel-warning.stoic-grey
        %b Steps in the Exercise
        %table.table.table-bordered.table-responsive
          %tbody
          - @exercise.e_questions.each do |e_question|
            %tr
              %td= e_question.question
    .col-md-8
      .panel.panel-warning
        %b Doctrines Pertaining to This Exercise
        - unless @published_doctrines.nil? || @published_doctrines.empty?
          = render file: "doctrines/#{@published_doctrines.first.file_name}.html.haml"
