.container
  .row
    .col-md-8
      .panel.panel-warning
        %h3.panel-heading
          = @exercise.title
        .panel-body
          = @exercise.general_description
          %br
          %br
          %p
            %b
              Philosophical Categories:
            = raw @exercise.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join('  ')
    .col-md-4
      %br
    .col-md-4
      = link_to 'Rehearse this Exercise', new_rehearsal_path(:exercise => @exercise.id), class: "btn btn-warning btn-lg"
    .col-md-4
      %br
    .col-md-4
      = link_to 'Back to Exercise List', exercises_path, class: "btn btn-default"
    .col-md-4
      %br
    .col-md-4
      - if can? :update, @exercise
        = link_to 'Edit Exercise', edit_exercise_path(@exercise), class: "btn btn-default"
        = link_to 'Delete Exercise', @exercise, :method => :delete, :data => { :confirm => "Are you certain that you'd like to delete this philosophical exercise?" }, class: "btn btn-default"
      - if @exercise.global
        %br
        %br
        .label.label-info Global Exercise
      - else
        %br
        %br
        .label.label-success Custom Exercise

  %h3.page-header.exercise_title
    Past Rehearsals
  %table.table.table-striped.table-condensed.table-responsive
    %tbody
    %th
    %th Place
    %th Day
    - @exercise.e_questions.each do |e_question|
      %th= truncate(e_question.question, length: 85)
    - @rehearsals.each do |rehearsal|
      %tr
        %td= link_to 'Read', rehearsal_path(rehearsal), class: "btn btn-warning btn-lg"
        %td= Time.zone.name
        %td= rehearsal.created_at.strftime("%d.%m.%Y")
        - rehearsal.e_answers.each do |e_answer|
          %td= truncate(e_answer.answer, length: 100)

  - if @exercise.global
    %br
    .panel.panel-info
      .panel-heading
        %b Stoic Compass Expert Exercise
        This exercise is published globally across all of Stoic Compass and its users.
  - else
    %br
    .panel.panel-success
      .panel-heading
        %b Custom Exercise
        This is a  custom exercise created and owned only by you.
.container
  .row
    .col-md-8
      .panel.panel-warning
        %b Steps in the Exercise
        %table.table.table-bordered.table-responsive
          %tbody
          - @exercise.e_questions.each do |e_question|
            %tr
              %td= e_question.question
