.panel.panel-warning
  %h3.panel-heading
    = @exercise.title
  .panel-body
    = @exercise.general_description
    Category:
    = @exercise.category
    %h5.page-header.exercise_title
      Steps to the Exercise
    %table.table.table-bordered.table-responsive
      %tbody
      - @exercise.e_questions.each do |e_question|
        %tr
          %td= e_question.question

%h3.page-header.exercise_title
  Past Rehearsals
%table.table.table-striped.table-condensed.table-responsive
  %tbody
  %th Date Rehearsed
  %th Location
  - @exercise.e_questions.each do |e_question|
    %th= e_question.question
  %th Options
  - @rehearsals.each do |rehearsal|
    %tr
      %td= rehearsal.created_at.strftime("%B %d, %Y, at %H:%M")
      %td= Time.zone.name
      - rehearsal.e_answers.each do |e_answer|
        %td= e_answer.answer
      %td= link_to 'Edit', edit_rehearsal_path(rehearsal)


= link_to 'Rehearse this Exercise', new_rehearsal_path(:exercise => @exercise.id), class: "btn btn-warning"
- if can? :update, @exercise
  = link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-warning"
= link_to 'Back', exercises_path, class: "btn btn-warning"
%br
%br
.panel.panel-warning
  .panel-heading
    - if @exercise.global
      %b Stoic Compass Expert Exercise
      This exercise is published globally across all of Stoic Compass and its users.



