%p#notice= notice

%h3
  %b Title:
  = @exercise.title
%p
  %b General description:
  = @exercise.general_description
%p
  %b Category:
  = @exercise.category
%h3
  %b Exercise Questions
%table
  %tbody
  - @exercise.e_questions.each do |e_question|
    %tr
      %td Question:&nbsp;
      %td= e_question.question

%td= link_to 'Rehearse this Exercise', new_rehearsal_path(:exercise => @exercise.id)
\|
- if can? :update, @exercise
  = link_to 'Edit', edit_exercise_path(@exercise)
  \|
= link_to 'Back', exercises_path

- if @exercise.global
  %br
  %br
  %b Stoic Compass Exercise
  This exercise is published globally across all of Stoic Compass and its users.
