%p#notice= notice

%p
  %b Title:
  = @exercise.title
%p
  %b General description:
  = @exercise.general_description
%p
  %b Category:
  = @exercise.category
%p
  %b Questions:
  - @exercise.e_questions.each do |e_question|
    %tr
      %td= e_question.question
    - e_question.e_answers.each do |e_answer|
      %tr
        %b Answers:
        %td= e_answer.answer

= redirect_to "rehearsals/form"

/ = semantic_form_for @rehearsal do |f|
/   = f.inputs do
/     = f.input :tally
/   %p
/     %b Questions:
/     - @exercise.e_questions.each do |e_question|
/       %tr
/         %td= e_question.question
/   %p
/     = f.fields_for :e_answers do |a_builder|
/       = render "e_answer_fields", :f => a_builder

/     = f.actions do
/       = f.action :submit, :as => :input





= link_to 'Edit', edit_exercise_path(@exercise)
\|
= link_to 'Back', exercises_path
