%p#notice= notice

%h3
  %b Title:
  = @exercise.title
%p
  %b General description:
  = @exercise.general_description
%p
  %b Category:
  = @exercise.category
%h3
  %b Exercise Questions
%table
  %tbody
  - @exercise.e_questions.each do |e_question|
    %tr
      %td Question:&nbsp;
      %td= e_question.question


%td= link_to 'Rehearse this Exercise', new_rehearsal_path(:exercise => @exercise.id)
\|
- if can? :update, @exercise
  = link_to 'Edit', edit_exercise_path(@exercise)
  \|
= link_to 'Back', exercises_path

- if @exercise.global
  %br
  %br
  %b Stoic Compass Exercise
  This exercise is published globally across all of Stoic Compass and its users.


%h3
  %b Past Rehearsals
%table
  - if @rehearsal != nil
    - @rehearsal.exercise.e_questions.each do |e_question|
      %tr
        %td Question:&nbsp;
        %td= e_question.question
      - @exercise.rehearsals.each do |rehearsal|
        %td= link_to 'Edit', edit_rehearsal_path(rehearsal)
        %td= link_to 'Destroy', rehearsal, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - e_question.e_answers.each do |e_answer|
        %tr
          %td Answer:&nbsp;
          %td= e_answer.answer
          %td= e_answer.created_at.strftime("%B %d, %Y, at %H:%M")
          %td= Time.zone.name

