.container
  .row
    .col-md-7
      .card
        .card-body
          %h3.card-title
            = @exercise.title
          = @exercise.general_description
          %p= raw @exercise.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "small text-muted" }.join('  ')
          = image_tag(@exercise.icon, alt: "Exercise Tag", class: "card-img-top", style: "width: 100%; height: 30vh; object-fit: cover") if @exercise.icon.attached?
    .col-md-4
      .row.mb-2
        - if @exercise.buzzword
          .label{class: "badge badge-pill badge-#{randomize_color_css} #{randomize_diagonal_css} mb-2 mt-3"}
            = @exercise.buzzword
      .row.mb-2
        = link_to 'Practice It', new_rehearsal_path(:exercise => @exercise.id), class: "btn btn-lg btn-success"
      .row.mb-2
        = link_to 'Back to Exercise List', exercises_path, class: "btn btn-sm btn-secondary"
      .row.mb-2
      - if can? :update, @exercise
        .row.mb-2
          = link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-sm btn-secondary mr-2"
          = link_to 'Delete', @exercise, method: :delete, data: { confirm: "Are you certain that you'd like to delete this philosophical exercise?" }, class: "btn btn-sm btn-secondary"
      .row.mb-2
        - if @exercise.global == false
          .badge.badge-pill.badge-warning Your Custom Exercise
  .row.mt-3
    .col-xl-12
      .card.bg-secondary
        .card-body
          .card-header
            %h5 Steps in this Think-Exercise
          %table.table.table-bordered.table-responsive
            %tbody
            - @exercise.questions.each do |question|
              %td= question.inquiry
  .row.mt-3
    .col-xl-12
      .card
        .card-body
          .card-title
            %h3 My Past Practice
          .table-responsive
            %table.table.table-striped.table-condensed.stoic-dark-text.stoic-striped
              %tbody
              %th
              %th Day
              %th Place
              - @exercise.questions.each do |question|
                %th= truncate(question.inquiry, length: 100)
              - @rehearsals.each do |rehearsal|
                %tr
                  %td= link_to 'Read', rehearsal_path(rehearsal), class: "btn btn-sm btn-secondary"
                  %td= rehearsal.created_at.strftime("%d.%m.%Y")
                  -if rehearsal.city?
                    %td= rehearsal.city
                  -else
                    %td Unknown City

                  - rehearsal.answers.each do |answer|
                    %td= truncate(answer.reply, length: 100)

  - if @exercise.global
    .card.bg-info.mt-3
      .card-body
        %b Privacy Protection
        Your written practice of this Stoic Penknife exercise is private and only available to you to read. Stoic Penknife uses SSL Encryption to securely protect your words from being read by an external party.
  - else
    %br
    .card.bg-info.mt-3
      .card-body
        %b Custom Exercise
        This is a custom exercise created by, and only visible to, you. Both the exercise itself (the title, the description, and the questions) and your written practice of it are private to you.
  .row
    .col-12
      .card.bg-secondary.mt-3
        .card-body
          %h1.badge.badge-info Doctrines Pertaining to This Exercise
          - unless @published_doctrines.nil? || @published_doctrines.empty?
            - @published_doctrines.each do |doctrine|
              = render file: "doctrines/#{doctrine.file_name}.html.haml"
          - else
            %p There are no Stoic philosophical doctrines associated with this exercise.
