%p#notice= notice

%p
  %b Title:
  = @exercise.title
%p
  %b General description:
  = @exercise.general_description
%p
  %b Category:
  = @exercise.category
%p
  %b Questions:
  - @exercise.e_questions.each do |e_question|
    %tr
      %td= e_question.question
    = form_for([e_question, :e_answer]) do |f|
      .field
        = f.fields_for :e_answers do |e_builder|
          = render "e_answer_fields", :f => e_builder

= link_to 'Edit', edit_exercise_path(@exercise)
\|
= link_to 'Back', exercises_path
