%nav.navbar.navbar-default
  .navbar-header
    =link_to "Stoic Compass", root_url, {class: "navbar-brand"}

    %ul.nav.navbar-nav

      - nav_link(about_path) do
        = link_to "About", about_path
      - nav_link(contact_path) do
        = link_to "Contact", contact_path
      - nav_link(doctrines_disciplines_intro_path) do
        = link_to "Introduction to Stoicism", doctrines_disciplines_intro_path

      - if (controller_name != "welcome")

        - nav_link(doctrines_index_path) do
          = link_to "Doctrines", doctrines_index_path

        - nav_link(exercises_path) do
          = link_to "Exercises", exercises_path

        - nav_link(meditations_path) do
          = link_to "Meditations", meditations_path

  %ul.nav.navbar-nav.navbar-right

    - if user_signed_in?
      - nav_link(edit_user_registration_path) do
        = link_to "#{current_user.email}", edit_user_registration_path
      - nav_link(destroy_user_session_path) do
        = link_to 'Sign Out', destroy_user_session_path, method: :delete
    - else
      - nav_link(new_user_registration_path) do
        = link_to "Sign Up", new_user_registration_path
      - nav_link(new_user_session_path) do
        = link_to "Sign In", new_user_session_path

