.text-center
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    .masthead.mb-auto
      .inner
        .masthead-brand
          %h3
            %a{:href => root_url} Stoic Penknife

    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_url} Stoic Penknife
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          - nav_link(about_path) do
            = link_to "What Is Stoic Penknife?", about_path
        %li
          - nav_link(how_it_works_path) do
            = link_to "How Does It Work?", how_it_works_path
        %li
          - nav_link(contact_path) do
            = link_to "Who Made This?", contact_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Topics
            %span.caret
          %ul.dropdown-menu
            %li
              - nav_link(doctrines_path) do
                = link_to "Stoic Doctrines", doctrines_path
            %li.divider{:role => "separator"}
            %li
              - nav_link(exercises_path) do
                = link_to "Stoic Exercises", exercises_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a{:href => edit_user_registration_path} #{current_user.email}
          %li
            %a{:href => destroy_user_session_path} Sign Out
        - else
          %li
            %a{:href => new_user_registration_path} Sign Up
          %li
            %a{:href => new_user_session_path} Sign In
